html,
body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#button-panel {
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
}

#button-panel button.start {
  cursor: pointer;
  font-size: 2em;
  padding: 1em 2em;
  border-radius: 10px;
  background: lime;
  color: black;
}

#button-panel {
  overflow-y: auto;
}

#controls .label {
    font-size: 2.5em;
}

#controls select {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.mode-choice {
  background-color: black;
  padding: 8px;
}

.mode-choice.selected {
  background-color: lime;
}

.mode-choice:focus {
  background-color: darkgrey;
}

.mode-choice.selected:focus {
  background-color: darkgreen;
}