html,
body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/*
    button {
      font-size: 2em;
      padding: 1em 2em;
      border-radius: 10px;
      border: none;
      background: lime;
      color: black;
      cursor: pointer;
      z-index: 10;
    }
      */

#button-panel {
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
}

#button-panel button {
  cursor: pointer;
  font-size: 2em;
  padding: 1em 2em;
  border-radius: 10px;
  background: lime;
  color: black;
}